.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    transition: all 0.3s;
}

.fade-enter {
    opacity: 0;
}

.fade-exit {
    opacity: 1;
}

.card {
    background-color: aliceblue;
    width: 300px;
    height: 350px;
    margin: 20px;
    line-height: normal;
    text-align: left;
    transition: ease 0.4s;
}

.card:hover {
    background-color: #f5f5dc;
    transition: ease 0.4s;
}

.content {
    padding-left: 30px;
}

.card p {
    margin-block: 10px;
}

.card img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.card svg {
    background-color: #ffe5c4;
    width: 30px;
    height: 30px;
    transition: ease 0.2s;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    left: 130px;
    bottom: 35px;
    border: none;
}

.cart button {
    border-style: none;
    border-radius: 40px;
    background: none;
    margin: 0 5px;
    padding-block: 10px;
    text-align: center;
    width: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: ease 0.2s;
}

.cart button:hover {
    background-color: #40326E;
    border-radius: 40px;
    transition: ease 0.2s;
}

.cart span {
    width: 100px;
    text-align: center;
}

.card svg:hover {
    background-color: #40326E;
    transition: ease 0.2s;
    cursor: pointer;
}